name: Deploy Vite + React + Tailwind to GitHub Pages

on:
  push:
    branches: ["main"] # adjust if your default branch is different

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.0"
          cache: "npm"

      - name: Install dependencies
        run: npm install
        working-directory: ./my-portfolio

      - name: Build project
        run: npm run build
        working-directory: ./my-portfolio

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./my-portfolio/dist
